@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-text-start: #9333ea;
  --gradient-text-middle: #f472b6;
  --gradient-text-end: #facc15;
  --gradient-text-gap: #fecaca;
}

.gradient-rotate {
  background: linear-gradient(
    to bottom right,
    var(--gradient-text-start),
    var(--gradient-text-middle),
    var(--gradient-text-end),
    var(--gradient-text-middle),
    var(--gradient-text-start)
  );
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: rotate-gradient 12s linear infinite;
}

@keyframes rotate-gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}
